.toggle-theme {
    background: transparent;
}

.toggle-theme label {
    font-size: 1.2rem;
    cursor: pointer;
}

.toggle-theme label i {
    transition: 0.3s;
}

#toggle-theme-check {
    display: none;
}



