.toggle-theme {
    background: transparent;
}

.toggle-theme label {
    position: absolute;
    top: var(--padding-md);
    right: var(--padding-md);
    font-size: 1.2rem;
    color: rebeccapurple;
    cursor: pointer;
}

#toggle-theme-check {
    display: none;
}


