name: Sync Wiki

on: 
  push: 
    branches: 
      - main
    paths: 
      - "docs/**"

jobs: 
  deploy-wiki: 
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.WIKI_TOKEN }}
      
      - name: Sync Docs
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with: 
          path: docs
        env: 
          GH_TOKEN: ${{ secrets.WIKI_TOKEN }}